* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(red, green, blue);
}

.box {
  width: 25%;
  margin: 300px auto;
  background-color: rgb(255, 255, 255);
  border: solid 5px rgb(3, 3, 3);
  border-radius: 100px;
  padding: 20px;
  text-align: center;
}

h3 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
 
}
 
#rgbtext {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn {
   text-align: center;
   margin-bottom: 20px;
   margin-top: -200px;

}
#stop{
    width: 20%;
    text-align: center;
    margin: 0 auto;
    color: red;
    padding: 10px 20px;
    border-radius: 20px ;
    font-size: 1.8rem;
   
}
